<div>
  <div>
    <h1>
      List of all items
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new item
    </h2>

    <form action="/insert_item" method="post">
      <div>
        <label for="description_box">
          Description
        </label>

        <input type="text" id="description_box" name="query_description">
      </div>

      <div>
        <label for="category_id_box">
          Category
        </label>

        <input type="text" id="category_id_box" name="query_category_id">
      </div>

      <div>
        <label for="image_link_box">
          Image link
        </label>

        <input type="text" id="image_link_box" name="query_image_link">
      </div>

      <div>
        <label for="owner_id_box">
          Owner
        </label>

        <input type="text" id="owner_id_box" name="query_owner_id">
      </div>

      <div>
        <label for="borrower_id_box">
          Borrower
        </label>

        <input type="text" id="borrower_id_box" name="query_borrower_id">
      </div>

      <button>
        Create item
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Description
        </th>

        <th>
          Category
        </th>

        <th>
          Image link
        </th>

        <th>
          Owner
        </th>

        <th>
          Borrower
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_items.each do |an_item| %>
      <tr>
        <td>
          <%= an_item.id %>
        </td>

        <td>
          <%= an_item.description %>
        </td>

        <td>
          <%= an_item.category_id %>
        </td>

        <td>
          <%= an_item.image_link %>
        </td>

        <td>
          <%= an_item.owner_id %>
        </td>

        <td>
          <%= an_item.borrower_id %>
        </td>

        <td>
          <%= time_ago_in_words(an_item.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(an_item.updated_at) %> ago
        </td>

        <td>
          <a href="/items/<%= an_item.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
