<div>
  <div>
    <h1>
      List of all borrowed items
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new item
    </h2>

    <form action="/insert_item" method="post">
      <div>
        <label for="description_box" >
          Description
        </label>

        <input type="text" id="description_box" name="query_description" required>
      </div>

      <div>
        <label for="category_id_box">
          Category
        </label>

        <input type="text" id="category_id_box" name="query_category_name" required>
      </div>

      <div>
        <label for="image_link_box">
          Image link
        </label>

        <input type="text" id="image_link_box" name="query_image_link" required>
      </div>

      <div>
        <label for="borrower_id_box">
          Borrower
        </label>

        <input type="text" id="borrower_id_box" name="query_borrower_name" required>
      </div>

      <button>
        Create item
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Description
        </th>

        <th>
          Category
        </th>

        <th>
          Image
        </th>

        <th>
          Borrower
        </th>

        <th>
          Returned?
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_items.each do |an_item| %>
      <tr>
        <td>
          <%= an_item.id %>
        </td>

        <td>
          <%= an_item.description %>
        </td>

        <td>
          <%= an_item.category.category %>
        </td>

        <td>
          <img src="<%= an_item.image_link %>" 
          width="300" 
          height=auto>
        </td>

        <td>
          <%= an_item.borrower.name %>
        </td>

        <td>
          <a href="/delete_item/<%= an_item.id %>">
            Item has been returned
          </a>
        </td>

        <td>
          <a href="/items/<%= an_item.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
