<div>
  <div>
    <h1>
      Item #<%= @the_item.id %> details
    </h1>

    <div>
      <div>
        <a href="/items">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_item/<%= @the_item.id %>">
          Delete item
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Description
      </dt>
      <dd>
        <%= @the_item.description %>
      </dd>

      <dt>
        Category
      </dt>
      <dd>
        <%= @the_item.category_id %>
      </dd>

      <dt>
        Image link
      </dt>
      <dd>
        <%= @the_item.image_link %>
      </dd>

      <dt>
        Owner
      </dt>
      <dd>
        <%= @the_item.owner_id %>
      </dd>

      <dt>
        Borrower
      </dt>
      <dd>
        <%= @the_item.borrower_id %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_item.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_item.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit item
    </h2>

    <form action="/modify_item/<%= @the_item.id %>"  method="post" >
      <div>
        <label for="description_box">
          Description
        </label>

        <input type="text" id="description_box" name="query_description" value="<%= @the_item.description %>">
      </div>

      <div>
        <label for="category_id_box">
          Category
        </label>

        <input type="text" id="category_id_box" name="query_category_id" value="<%= @the_item.category_id %>">
      </div>

      <div>
        <label for="image_link_box">
          Image link
        </label>

        <input type="text" id="image_link_box" name="query_image_link" value="<%= @the_item.image_link %>">
      </div>

      <div>
        <label for="owner_id_box">
          Owner
        </label>

        <input type="text" id="owner_id_box" name="query_owner_id" value="<%= @the_item.owner_id %>">
      </div>

      <div>
        <label for="borrower_id_box">
          Borrower
        </label>

        <input type="text" id="borrower_id_box" name="query_borrower_id" value="<%= @the_item.borrower_id %>">
      </div>

      <button>
        Update item
      </button>
    </form>
  </div>
</div>

<hr>
