<div>
  <div>
    <h1>
      <%= @the_item.description %> 
    </h1>

    <div>
      <div>
        <a href="/items">
          Go back
        </a>
      </div>

    <img src="<%= @the_item.image_link %>" 
    width="400" 
    height=auto>

      <div>
        <a href="/delete_item/<%= @the_item.id %>">
        Item has been returned
        </a>
      </div>
    </div>

    <dl>

      <dt>
        Borrower
      </dt>
      <dd>
        <%= @the_item.borrower.name %>
      </dd>

      <dt>
        Category
      </dt>
      <dd>
        <%= @the_item.category.category %>
      </dd>

    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit item
    </h2>

    <form action="/modify_item/<%= @the_item.id %>"  method="post" >
      <div>
        <label for="description_box">
          Description
        </label>

        <input type="text" id="description_box" name="query_description" value="<%= @the_item.description %>">
      </div>

      <div>
        <label for="category_id_box">
          Category
        </label>

        <input type="text" id="category_name_box" name="query_category_name" value="<%= @the_item.category.category %>">
      </div>

      <div>
        <label for="image_link_box">
          Image link
        </label>

        <input type="text" id="image_link_box" name="query_image_link" value="<%= @the_item.image_link %>">
      </div>

      <div>
        <label for="borrower_id_box">
          Borrower
        </label>

        <input type="text" id="borrower_id_box" name="query_borrower_name" value="<%= @the_item.borrower.name %>">
      </div>

      <button>
        Update item
      </button>
    </form>
  </div>
</div>

<hr>
