<div>
  <div>
    <h1>
      <%= @the_category.category %> borrowed
    </h1>

    <div>
      <div>
        <a href="/categories">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_category/<%= @the_category.id %>">
          Delete category
        </a>
      </div>
    </div>

    <% if @the_category.items.count == 0%>
      <p> No clothes under this category! </p>
    <% else %>

  <div>
    <div>
      <table border="1">
        <tr>
          <th>
            ID
          </th>

          <th>
            Description
          </th>

          <th>
            Image
          </th>

          <th>
            Borrower
          </th>

          <th>
            Returned?
          </th>

          <th>
          </th>
        </tr>

        <% @the_category.items.each do |an_item| %>
        <tr>
          <td>
            <%= an_item.id %>
          </td>

          <td>
            <%= an_item.description %>
          </td>

          <td>
            <img src="<%= an_item.image_link %>" 
            width="300" 
            height=auto>
          </td>

          <td>
            <%= an_item.borrower.name %>
          </td>

          <td>
            <a href="/delete_item/<%= an_item.id %>">
              Item has been returned
            </a>
          </td>

          <td>
            <a href="/items/<%= an_item.id %>">
              Show details
            </a>
          </td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
  </div>
</div>

<hr>

<% end %>


<div>
  <div>
    <h2>
      Edit category name
    </h2>

    <form action="/modify_category/<%= @the_category.id %>"  method="post" >
      <div>
        <label for="category_box">
          Category
        </label>

        <input type="text" id="category_box" name="query_category" value="<%= @the_category.category %>">
      </div>

      <button>
        Update category
      </button>
    </form>
  </div>
</div>

<hr>
